
    /*淘宝CSS格式化代码*/

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

 button, input, select, textarea {
    font: 12px/1.5 tahoma, arial, \5b8b\4f53;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

code, kbd, pre, samp {
    font-family: couriernew, courier, monospace;
}

small {
    font-size: 12px;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

legend {
    color: #000;
}

fieldset, img {
    border: 0;
}

button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}



.container-fluid {
    background: aquamarine;
    height: 100%;
}

.logo {
    background: #354144;
    color: black;
    font-size: 40px;
    padding-left: 20px;
    height: 60px;
    min-height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.nav > li > a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #354144;
}

.open > a {
    background-color: #354144 !important;
}

.right {
    float: right;
}

.grid:hover {
    background: #efefef;
}

