<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <!-- 默认样式-->
    <link rel="stylesheet" href="/css/reset1.min.css">
    <!-- 主要样式-->
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>

<form onsubmit="return false;">
    <h3>WebSocket 聊天室：</h3>
    <textarea id="responseText" style="width: 500px; height: 300px;"></textarea>
    <br>
    <input type="text" name="message"  style="width: 300px" value="">
    <input type="button" value="发送消息" onclick="send(this.form.message.value)">
    <input type="button" onclick="javascript:document.getElementById('responseText').value=''" value="清空聊天记录">
</form>

<br>
<br>

<script type="text/javascript">
    // (function () {
    //     cacheDOM();
    //     // bindEvents();
    // })();
    var socket;
    if (!window.WebSocket) {
        window.WebSocket = window.MozWebSocket;
    }
    if (window.WebSocket) {
        socket = new WebSocket("ws://127.0.0.1:8888/websocket");
        socket.onmessage = function(event) {
            var ta = document.getElementById('responseText');
            ta.value = ta.value + '\n' + event.data

        };
        socket.onopen = function(event) {
            var ta = document.getElementById('responseText');
            ta.value = "连接开启!";

        };
        socket.onclose = function(event) {
            var ta = document.getElementById('responseText');
            ta.value = ta.value + "连接被关闭";
        };
    } else {
        alert("你的浏览器不支持 WebSocket！");
    }
    function send(message) {
        if (!window.WebSocket) {
            return;
        }
        if (socket.readyState == WebSocket.OPEN) {
            //var message = document.getElementById("message-to-send").value();
            socket.send(message);
        } else {
            alert("连接没有开启.");
        }
    }
    //  function cacheDOM(){
    //     this.$chatHistory = $('.chat-history');
    //     // this.$button = $('button');
    //     // this.$textarea = $('#message-to-send');
    //     this.$chatHistoryList =  this.$chatHistory.find('ul');
    // }
    // //  function bindEvents() {
    // //     this.$button.on('click', this.addMessage.bind(this));
    // //     this.$textarea.on('keyup', this.addMessageEnter.bind(this));
    // // }
    // function scrollToBottom() {
    //
    //     this.$chatHistory.scrollTop(this.$chatHistory[0].scrollHeight);
    // }

</script>
</body>
</html>